body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    width: 320px;
    height: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.caption {
    background-color: lightcoral;
    display: flex;
    padding: 10px;
}
.content {
    flex: 1;
    background-color: lightblue;
    padding: 10px;
}
.poster-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: auto;
}
.header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.header-photo {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #aaa;
    object-fit: cover;
}
.header-left {
    flex: 1;
    padding-left: px;
    font-weight: bold;
    font-size: 14px;
}
.header-right {
    font-size: 12px;
    color: gray;
}
.footer {
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.footer-item {
    font-size: 14px;
    cursor: pointer;
}
.comment-section {
    display: flex;
    padding: 5px;
}
.comment-input {
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
    padding: 5px 10px;
    gap: 4px;
    font-size: 12px;
    color:black;
}


